body {
  padding: 50px;
  width: auto;
  height: auto;
}

fieldset {
  border: 0;

  /* 수평중앙정렬 */
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.login .top {
  position: relative;
  width: 329px;
}

.login .top li.btn {
  position: absolute;
  right: 0;
  top: 0;
}

.login .top li label {
  font-size: 11px;
  color: #464646;
  font-family: dotum;
  font-weight: bold;
  display: inline-block;
  width: 63px;
}

.login .top li input[type="text"],
input[type="password"] {
  width: 142px;
  height: 27px;
  padding: 0;
  border-color: #d9d9d9;
}

.login .top li {
  padding: 0 0 9px 0;
}

.login .top li a {
  width: 109.67px;
  height: 67.67px;
  background: #829c2c;
  display: block;
  font-size: 17px;
  color: #fff;
  text-align: center;
  line-height: 69px;
  font-weight: bold;
  border: 1px solid #778f28;
}

.login .top li.save {
  padding: 0 0 0 59px;
}

.login .top li.save label {
  position: relative;
  font-weight: normal;
  width: auto;
  top: -3px;
}

/* btm */

.login .btm {
  padding: 0 0 0 100px;
}

.login .btm li {
  color: #383d41;
  font-family: dotum;
  font-size: 11px;
  margin-left: 10px;
  margin-bottom: 11px;
  line-height: 12px;
}

.login .btm li a:hover {
  cursor: pointer;
}

.login .btm li a {
  font-size: 11px;
  font-family: dotum;
  font-weight: bold;
  color: #829c2c;
  text-decoration: underline; 
  margin-left: 10px;
}